{{range .}}// - RequestHandler.{{.OperationId}}
{{end}}// Parameters:
//   - apiServer: The API router handler used for setting up routes and middleware.
//   - server: The server interface implementation containing the endpoint handlers.
//
// Generics:
//   - T: A type that satisfies the apicontext.Principal interface, representing the principal/context
//		involved in the API operations.
// 
// This function will use the RequestHandler implementation
// that has already been generated to bind specific API routes 
// dynamically at runtime, based on the provided security definitions 
// and endpoint configurations.
func ResourcesHandler[T apicontext.Principal](apiServer server.Api[T], service ServiceRequestHandler[T])  {
handler := &requestHandlerImpl[T]{
		Service: service,
	}
    ApiResourceRegister(apiServer, handler)
}

// ApiResourceRegister is a customizable resource handler that registers API endpoints from generated code.
// This method binds the custom `RequestHandler` implementation to specific API routes,
// allowing dynamic configuration of handlers.
//
// Parameters:
//   - apiServer: The API router handler used for setting up routes and middleware.
//   - handler: The `RequestHandler` interface implementation containing the actual endpoint handlers.
//
// Generics:
//   - T: A type that satisfies the apicontext.Principal interface, representing the principal/context
//	 involved in the API operations.
func ApiResourceRegister[T apicontext.Principal](apiServer server.Api[T], handler RequestHandler[T]) {
{{range .}}
    {{- $scopes := "" -}} // Initialize an empty string for the merged scopes.
    {{- range .SecurityDefinitions -}}
        {{- range .Scopes -}}
            {{- if $scopes -}}
                {{- $scopes = printf "%s,\"%s\"" $scopes . -}} // Append with a comma if $scopes is not empty.
            {{- else -}}
                {{- $scopes = printf "\"%s\"" . -}} // Initialize $scopes if it's empty.
            {{- end -}}
        {{- end -}}
    {{- end -}}

    {{if $scopes}}
    apiServer.Add(handler.{{.OperationId}}, "{{.Path | swaggerUriToGorillaUri }}", "{{.Method }}", []string{ {{$scopes}} }...)
    {{else}}
    apiServer.PublicRouter(handler.{{.OperationId}}, "{{.Path | swaggerUriToGorillaUri }}", "{{.Method }}")
    {{end}}
{{end}}
}



func ApiResourceHandler[T apicontext.Principal](service ServiceRequestHandler[T]) func(handler server.Api[T]) {
	return func(handler server.Api[T]) {
		ResourcesHandler(handler, service)
	}
}
