func apiResourceRegister[T goservectx.Principal](server server.Api[T], handler resourceHandler[T]) {  {{range .}}
    {{- $scopes := "" -}}
    {{- range .SecurityDefinitions -}}
        {{- range .Scopes -}}
            {{- if $scopes -}}
                {{- $scopes = printf "%s,\"%s\"" $scopes . -}}
            {{- else -}}
                {{- $scopes = printf "\"%s\"" . -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}

    {{if $scopes}}
    server.Add(handler.{{.OperationId}}, "{{.Path | swaggerUriToGorillaUri }}", "{{.Method }}", []string{ {{$scopes}} }...)
    {{else}}
    server.PublicRouter(handler.{{.OperationId}}, "{{.Path | swaggerUriToGorillaUri }}", "{{.Method }}")
    {{end}}
{{end}}
}

// RequestServiceHandler registers all generated API endpoints with their corresponding service implementation.
// Generated resource: {{range .}}{{$entry := .}}
//   - ApiRequestService.{{$entry.OperationId}}{{end}}
func RequestServiceHandler[T goservectx.Principal](server server.Api[T], service ApiRequestService[T])  {
    handler := &resourceHandlerImpl[T]{
            Service: service,
        }
    apiResourceRegister(server, handler)
}
