func apiResourceHandler[T apicontext.Principal](server server.Api[T], service ApiRequestService[T])  {
handler := &resourceHandlerImpl[T]{
		Service: service,
	}
    apiResourceRegister(server, handler)
}

func apiResourceRegister[T apicontext.Principal](server server.Api[T], handler resourceHandler[T]) {
{{range .}}
    {{- $scopes := "" -}} // Initialize an empty string for the merged scopes.
    {{- range .SecurityDefinitions -}}
        {{- range .Scopes -}}
            {{- if $scopes -}}
                {{- $scopes = printf "%s,\"%s\"" $scopes . -}} // Append with a comma if $scopes is not empty.
            {{- else -}}
                {{- $scopes = printf "\"%s\"" . -}} // Initialize $scopes if it's empty.
            {{- end -}}
        {{- end -}}
    {{- end -}}

    {{if $scopes}}
    server.Add(handler.{{.OperationId}}, "{{.Path | swaggerUriToGorillaUri }}", "{{.Method }}", []string{ {{$scopes}} }...)
    {{else}}
    server.PublicRouter(handler.{{.OperationId}}, "{{.Path | swaggerUriToGorillaUri }}", "{{.Method }}")
    {{end}}
{{end}}
}



func Api[T apicontext.Principal](service ApiRequestService[T]) func(handler server.Api[T]) {
	return func(handler server.Api[T]) {
		apiResourceHandler(handler, service)
	}
}
