{{range .}}{{$opid := .OperationId}}
{{range .TypeDefinitions}}
// {{.TypeName}} defines parameters for {{$opid}}.
type {{.TypeName}} {{if .IsAlias}}={{end}} {{.Schema.TypeDecl}}
{{end}}
{{end}}

{{range .}}{{$entry := .}}
{{$opid := $entry.OperationId}}
func (rh *requestHandlerImpl[T]){{$opid}}(ctx *api_context.ApiRequestContext[T]) {
    {{ $processed := false -}}
    {{range .Bodies}}
    {{if and (not $processed) .IsSupported -}}
    {{$contentType := .ContentType -}}
        requestBody := {{.Schema.TypeDecl}}{}
        server.GetRequestBody(ctx, requestBody, func(ctx *api_context.ApiRequestContext[T], body {{.Schema.TypeDecl}}) {
        rh.Service.{{$entry.OperationId}}Request(body, ctx)
        }, func(ctx *api_context.ApiRequestContext[T], err error) {
        ctx.InternalServerError("Internal server error")
        })
        {{ $processed = true -}}
        {{end}}
        {{end}}
        {{if not $processed -}}
        //request := {{$entry.OperationId}}RequestParams{}
        // server.PopulateFieldsFromRequest(ctx, &request)
        rh.Service.{{$entry.OperationId}}Request(ctx)
        {{end}}
        }
{{end}}
